.sectionHeader{
    background-color: rgb(159, 194, 16);
    height: 80vh;
    width: 100vw;
    /* border: 1px solid red; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 80%;
}